<div class="row">
    <div>
        <h1>Welcome!</h1>
    </div>
    <div class="col-md-6">
        <h3>Register</h3>
        <form action="/users" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="form-group">
              <label for="InputFirst_name">First Name</label>
              <input type="text" class="form-control" name="user[first_name]" />
            </div>
            <div class="form-group">
              <label for="InputLast_name">Last Name</label>
              <input type="text" class="form-control" name="user[last_name]" />
            </div>
            <div class="form-group">
              <label for="InputEmail">Email</label>
              <input type="text" class="form-control" name="user[email]" />
            </div>
            <div class="form-group">
              <label for="InputPassword">Password</label>
              <input type="password" class="form-control" name="user[password]" />
            </div>
            <div class="form-group">
              <label for="InputConfirm_Password">Confirm Password</label>
              <input type="password" class="form-control" name="user[password_confirmation]" />
            </div>
            <div>
                <input class="btn btn-primary btn-sm" type="submit" value="Create">
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h3>Login</h3>
        <form action="/sessions" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="form-group">
              <label for="InputEmail">Email</label>
              <input type="text" class="form-control" name="user[email]" />
            </div>
            <div class="form-group">
              <label for="InputPassword">Password</label>
              <input type="password" class="form-control" name="user[password]" />
            </div>
            <div>
                <input class="btn btn-primary btn-sm" type="submit" value="Login">
            </div>
        </form>
    </div>
</div>
